.cardDiv{
  width: 55rem !important;
  margin-left: 300px;
  background-color: black !important;
  border: 1px solid orange;
}
.card-body .title {
  color: orange;
  font-size: 30px;
}
.card-body .text {
  color: orange;
  font-size: 14px;
}
body{
  background-color: black;
  /* background-image: "https://wallpapercave.com/wp/wp7560270.jpg"; */
}


